<mat-toolbar color="primary">
    <span>Prediction House</span>
    <a mat-button routerLink="/home">Home</a>
    <a mat-button routerLink="/questions">Questions</a>
    <a mat-button routerLink="/responses">Responses</a>
    <a mat-button routerLink="/respondents">Respondents</a>
    <a mat-button routerLink="/about">About</a>
    <div class="spacer"></div>
    <a mat-button>Register</a>
    <!-- <ng-container *ngIf="auth.isAuthenticatedObs; else loggedout"> -->
        <a mat-button (click)="logout()">Log out</a>
    <!-- </ng-container> -->
    <!-- <ng-template #loggedout> -->
        <a mat-button (click)="login()">Log in</a>
    <!-- </ng-template> -->
</mat-toolbar>