<div class='container'>
  <div class="marginTB">
    <mat-label>Year: </mat-label>
    <mat-select name="year" class="yearSelector" [(value)]="selectedYear" (selectionChange)="yearChanged($event)">
      <mat-option   *ngFor="let year of yearsList" [value]="year">
        {{year}}
      </mat-option>
    </mat-select>
    <!-- <a mat-button routerLink="/questions/0/edit">Add a Question</a> -->
    <a mat-button routerLink="/questions/add-questions">Add a Question</a>
</div>
  <router-outlet></router-outlet>
</div>
