<div class="marginTB">
    <mat-label>Respondent: </mat-label>
    <mat-select name="respondent" class="selector" [(value)]="selectedRespondent" 
    (selectionChange)="respondentChanged($event)">
      <mat-option   *ngFor="let respondent of respondentsList" [value]="respondent">
        {{ respondent.respondentName }}
      </mat-option>
    </mat-select>
</div>
<div class="marginTB">
  <mat-label>Year: </mat-label>
  <mat-select name="year" class="selector" [(value)]="selectedYear" (selectionChange)="yearChanged($event)">
    <mat-option   *ngFor="let year of yearsList" [value]="year">
      {{year}}
    </mat-option>
  </mat-select>

</div>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSourceResponse">
    
      <ng-container matColumnDef="question">
        <th mat-header-cell *matHeaderCellDef> Question </th>
        <td mat-cell *matCellDef="let responses"> {{responses.question}} </td>
      </ng-container>
  
      <ng-container matColumnDef="response">
        <th mat-header-cell *matHeaderCellDef> Response </th>
        <td mat-cell *matCellDef="let responses"> {{responses.response}} </td>
      </ng-container>
    
      <ng-container matColumnDef="correct">
        <th mat-header-cell *matHeaderCellDef> Correct </th>
        <td mat-cell *matCellDef="let responses"> {{responses.correct}} </td>
      </ng-container>
 
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
